<span class="user">
{{#data}}
    <a href="http://www.reddit.com/user/{{name}}/">{{name}}</a>
{{/data}}
{{^data}}
    <a href="https://ssl.reddit.com/login" class="login-required">login or register</a>
{{/data}}
</span>