<ul class="tabMenu">
    <li id="hot" class="selected"><p>hot</p></li>
    <li id="new">
        <p>new</p>
        <ul id='newrising'>
            <li id="new" class="selected">new</li>
            <li id="rising">rising</li>
        </ul>
    </li>
    <li id="controversial"><p>moot</p></li>
    <li id="top">
        <p>top</p>
        <ul id='toprange'>
            <li id="hour">hour</li>
            <li id="today">today</li>
            <li id="week" class="selected">week</li>
            <li id="month">month</li>
            <li id="year">year</li>
            <li id="all">all</li>
        </ul>
    </li>
</ul>